body{
    background-image: url("../resources/background.jpg");
    background-attachment: fixed;
}

.user-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    gap: 30px;
} 

.key-value-pair {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 5px;
    outline: 1px solid rgb(159, 159, 159);
}

.key-value-pair:nth-child(even) {
    background-color: rgb(159, 159, 159);
}

dl{
    width: 80%;
}

dt, dd{
    font-size: larger;
    margin: 5px 0;
}

dt {
    text-align: right;
    font-weight: bold;
}

dd {
    text-align: right;
    word-wrap: break-word;
    max-width: 20ch;
}

.value-icon-container{
    display: flex;
    gap: 2px;
}

.edit-icon{
    cursor: pointer;
}


.logout-button{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}
